body {
  background-color: #19191a;
}

.apple {
  text-align: center;
  color: #bd0606;
  font-family: Arial;
  font-size: 25px; 
  -webkit-text-stroke: 1px white;
}

.coolicon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%; 
}

.box {
  background-color: #424242;
  padding: 20px;
  border: 2px solid #bd0606; 
  border-radius: 8px;
}
