body {
      background-color: #19191a;
}
apple {
  text-align: center;
  color: #bd0606;
  font-family: Arial;
  font-size:25;
  -webkit-text-stroke: 1px white;
  
}
coolicon {
  width: 400px;
  max-width: 400px;
  display: block;        
  gap: 15px;     
  transform: translate(500px, -20px); 

}
textbg {
    background-color: #3f3f40;
    padding: 20px; 
}
.box {
  background-color: #424240;
  padding: 20px;
  border: 2px;
  border-radius: 8px;
}
