body {
  background-color: #19191a;
}

.apple {
  text-align: center;
  color: #bd0606;
  font-size: 25px; 
  -webkit-text-stroke: 1px white;
  font-family: Arial;
  background-color: darkgray;
}

.coolicon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%; 
  background-color: #393a3b;
}
.notice {
  color: darkgray;
  font-size: 7px;
  position: absolute; /* Pulls the text out of normal document flow */
  bottom: 0;          /* Aligns perfectly to the bottom edge */
  left: 0;            /* Aligns perfectly to the left edge */
  margin: 0;          /* Removes default browser spacing */
}



